html {
    width: 100%;
}

body {
    text-align: center;
}

div {
    display: inline-block;
}

a {
    display: inline-block;
    text-decoration: none;
    color: rgb(41, 37, 37);
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 40px;
    font-size: 30px;
    margin-bottom: 10px;
    width: 10%;
    text-align: center;
    transition: border .5s ease-in-out;
    transition: background-color .5s ease-in-out;
}

a:hover {
    border: 1px solid grey;
    border-radius: 50px;
    background-color: rgb(192, 181, 30);
}

img {
    display: block;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 38%;
}

div.description {
    margin: 20px;
    width: 40%;
    border: 2px solid rgb(192, 181, 30);
    border-radius: 5px;
}

div.description > div {
    border: 2px solid rgb(192, 181, 30);
}

div#food {
    display: inline;
    margin: 15px;
}

div#food > div > ul , ol {
    display: inline;
    margin: 15px;
}

div#food > div > ul {
    display: block;
    margin: 20px;
}

div#food > div > ol {
    display: block;
    margin: 20px;
}

div#food > h2 {
    display: inline;
}